<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SLApp_Beta.Properties.Settings.SLDatabaseConnectionString1"
            connectionString="Data Source=cs1;Initial Catalog=SLDatabase;User ID=SLApp;Password=ReallySecure123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>